body {
  font-size: 14px;
  background-color: #FFFAF0;
  font-family: "Helvetica"

}

h1 {
	font-size: 2.6em;
	font-family: fantasy;
  font-style: italic;
	margin-bottom: 40px;
	text-align: center;
	font-weight: solid
}

h2 {
	font-size: 1.6em;
	font-family: fantasy;
  font-style: italic;
  color: #337ab7;
	margin-bottom: 40px;
	text-align: left;
	font-weight: solid
}


.p-margin {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
  font-size: 1.3em;
  color: grey;
  font-weight: solid
}


.fig-margin	{
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 1.7em;
	color:	#00CED1;
}


.header-line {
  padding: 20px;
  border-bottom: 1px 
  solid #d3d3d3

}

#border-temp	{
  margin-top: 40px;
  margin-bottom: 10px;
  border:	2px solid #00CED1;
	background-color:	#337ab7;
	color: white;
}


.highlight {color: #337ab7}

li {
    font-size: 14px;
    margin-left: 10px;
    list-style-type: square;
 }

.fig-blue-border	{
	border: 1.5px solid #00CED1;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  color: #00CED1;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

#my-div
{
    width    : 450px;
    height   : 800px;
    overflow : hidden;
    position : relative;
}

#my-iframe
{
    position : absolute;
    top      : -400px;
    left     : -10px;
    width    : 450px;
    height   : 1200px;
}


footer {
  font-size: 1em;
  font-style: italic;
  color: #337ab7;
  margin-bottom: 40px;
  text-align: center;
  font-weight: solid
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}